/* App.css */
.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.select-label {
  font-size: 16px;
  color: #444;
}

.select-offense {
  padding: 8px;
  font-size: 14px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loading-message {
  font-size: 16px;
  color: #555;
}
/* Add this CSS to your App.css file or your preferred stylesheet */

.print-button {
  background-color: #080909; /* Change to your preferred background color */
  color: #fff; /* Text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.print-button:hover {
  background-color: #363739; /* Change to a slightly different shade for hover effect */
}

/* App.css */

.header {
  display: flex;
  justify-content: space-between;
  background-color:white;
  padding: 10px;
  margin-bottom: 1%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  font-weight: bold
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color:white;
  padding: 10px;
}

.footer-left {
  color: blue;
  display: flex;
  align-items: center;
  font-weight: bold
}
/* In your CSS file (e.g., App.css) */
.duotone-icon {
  color: white; 
  margin-right: 2px;
}


.footer-right {
  display: flex;
  align-items: center;
  font-weight: bold
}

/* Add these styles in your CSS file (e.g., App.css) */
.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  margin-right: 10px; /* Add space between the image and text */
}

.header-left span {
  color: blue;
  font-weight: bold; /* Make the text bolder */
  font-size: 20px; /* Make the text bigger */
}

/* Add these styles in your CSS file (e.g., App.css) */
.header {
  border-bottom: 2px solid blue; /* Add a blue line after the header */
}

.footer {
  border-top: 2px solid blue; /* Add a blue line before the footer */
}


